@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <b>success :</b> fales <br />
    <b>error_code :</b> 001 <br />
    <b>error_msg :</b> citizen_id require <br />
</body>
</html>
